<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="LessonDao">
  <select id="findAll" resultType="com.eomcs.lms.domain.Lesson">
    select 
      lesson_id no,
      titl title,
      sdt startDate,
      edt endDate,
      tot_hr totalHours
    from 
      lms_lesson
    order by 
      sdt desc
  </select>
  
  <select id="findBy" 
          parameterType="int" 
          resultType="com.eomcs.lms.domain.Lesson">
    select
      lesson_id no,
      titl title,
      conts contents,
      sdt startDate,
      edt endDate,
      tot_hr totalHours,
      day_hr dayHours
    from lms_lesson
    where lesson_id=#{value}
  </select>
  
  <insert id="insert" parameterType="com.eomcs.lms.domain.Lesson">
    insert into lms_lesson(sdt,edt,tot_hr,day_hr,titl,conts)
    values(#{startDate},#{endDate},#{totalHours},#{dayHours},#{title},#{contents})
  </insert>
  
  <update id="update" parameterType="com.eomcs.lms.domain.Lesson">
    update lms_lesson set
      titl=#{title}, 
      conts=#{contents}, 
      sdt=#{startDate}, 
      edt=#{endDate}, 
      tot_hr=#{totalHours}, 
      day_hr=#{dayHours}
    where lesson_id=#{no}
  </update>
  
  <delete id="delete" parameterType="int">
    delete from lms_lesson 
    where lesson_id=#{value}
  </delete>

</mapper>