<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="PhotoBoardDao">

  <select id="findAll" resultType="com.eomcs.lms.domain.PhotoBoard">
    select
      photo_id no,
      titl title,
      cdt createdDate,
      vw_cnt viewCount,
      lesson_id lessonNo
    from 
      lms_photo 
    order by 
      photo_id desc
  </select>
  
  <select id="findBy" 
          parameterType="int" 
          resultType="com.eomcs.lms.domain.PhotoBoard">
    select
      photo_id no,
      titl title,
      cdt createdDate,
      vw_cnt viewCount,
      lesson_id lessonNo
    from 
      lms_photo 
    where 
      photo_id=#{value}
  </select>
  
  <update id="increaseViewCount" parameterType="int">
    update lms_photo set
      vw_cnt=vw_cnt + 1 
    where 
      photo_id=#{value}
  </update>
  
  <insert id="insert" 
          parameterType="com.eomcs.lms.domain.PhotoBoard"
          useGeneratedKeys="true"
          keyColumn="photo_id"
          keyProperty="no">
    insert into lms_photo(lesson_id,titl)
    values(#{lessonNo},#{title})
  </insert>
  
  <update id="update" parameterType="com.eomcs.lms.domain.PhotoBoard">
    update lms_photo set
      titl=#{title}
    where photo_id=#{no}
  </update>
  
  <delete id="delete" parameterType="int">
    delete from lms_photo 
    where photo_id=#{no}
  </delete>

</mapper>