<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <!-- DBMS 접속 정보 목록 
    default: Mybatis를 실행하는 동안 사용할 DBMS 정보 아이디
  -->
  <environments default="development">
    
    <!-- 한 개의 DBMS 접속 정보 -->
    <environment id="development">
      
      <!-- 트랜잭션 설정 -->
      <transactionManager type="JDBC"/>
      
      <!-- DB 커넥션풀 정보 -->
      <dataSource type="POOLED">
        <property name="driver" value="${driver}"/>
        <property name="url" value="${url}"/>
        <property name="username" value="${username}"/>
        <property name="password" value="${password}"/>
      </dataSource>
    </environment>
  </environments>
  <mappers>
    <mapper resource="org/mybatis/example/BlogMapper.xml"/>
  </mappers>
</configuration>